{% extends 'PyPlex/base.html' %}
{% block title %}{{_("Login")}} - {{super()}} {% endblock %}
{% block content %}

<style>

body{
    overflow-x:hidden;
}

.form-control {
    height: 38px;
    margin: 5px 0 5px 0;
    color: #fff;
    border: 0px solid #444;
    background: #555;
    padding: 6px 12px;
    background-color: #555;
    border-radius: 3px;
    transition: background-color .3s;
    resize: none;
}
.form-control:focus {
    outline: 0;
    color: #555;
    background-color: #fff;
    transition: background-color .3s;
}

.btn-bright {
    color: #fff;
    background-color: #cc7b19;
    box-shadow: inset 0 1px 0 #e7993b;
    float: right;
}
.btn-bright:focus,
.btn-bright.focus {
    color: #fff;
    background-color: #eb8600;
}
.btn-bright:hover {
    color: #fff;
    background-color: #e59029;
    box-shadow: inset 0 1px 0 #ebac60;
}
.btn-bright:active,
.btn-bright.active,
.open > .dropdown-toggle.btn-bright {
    color: #fff;
    background-color: #cc7b19;
    box-shadow: inset 0 1px 0 #e7993b;
}
.btn-bright:active:hover,
.btn-bright.active:hover,
.open > .dropdown-toggle.btn-bright:hover,
.btn-bright:active:focus,
.btn-bright.active:focus,
.open > .dropdown-toggle.btn-bright:focus,
.btn-bright:active.focus,
.btn-bright.active.focus,
.open > .dropdown-toggle.btn-bright.focus {
    color: #fff;
    background-color: #cc7b19;
    box-shadow: inset 0 1px 0 #e7993b;
}
.btn-bright:active,
.btn-bright.active,
.open > .dropdown-toggle.btn-bright {
    background-image: none;
}
.btn-bright.disabled,
.btn-bright[disabled],
fieldset[disabled] .btn-bright,
.btn-bright.disabled:hover,
.btn-bright[disabled]:hover,
fieldset[disabled] .btn-bright:hover,
.btn-bright.disabled:focus,
.btn-bright[disabled]:focus,
fieldset[disabled] .btn-bright:focus,
.btn-bright.disabled.focus,
.btn-bright[disabled].focus,
fieldset[disabled] .btn-bright.focus,
.btn-bright.disabled:active,
.btn-bright[disabled]:active,
fieldset[disabled] .btn-bright:active,
.btn-bright.disabled.active,
.btn-bright[disabled].active,
fieldset[disabled] .btn-bright.active {
    background-color: #cc7b19;
    border-color: #b56d16;
}
.btn-bright .badge {
    color: #fff;
    background-color: #cc7b19;
    box-shadow: inset 0 1px 0 #e7993b;
}

p {
  text-align: center;
}

.form-group > label {
    font-weight: 400;
    color: #999;
}

.h3, h3 {
    display:none;
}

.login-logo {
    text-align: center;
    margin: 50px auto 85px auto;
    width: 340px;
    height: 100px;
}

img {
    vertical-align: middle;
}

.navbar {
    display: none;
}

</style>


<div class="row">
<form action="" method="post" accept-charset="utf-8" id="login">
     <input type="hidden" name="do" value="login" />

<div class="login-logo">
     <img alt="Pyload" src="/media/PyPlex/img/pyload.jpg">
</div>

{% if errors %}
<div class="col-sm-4 col-sm-offset-4">
<div class="alert alert-danger" style="padding:8px;">
<p class="align-middle">{{_("Incorrect username/email or password.")}}</p>
</div>
</div>
{% endif %}

<div class="col-sm-4 col-sm-offset-4">
    <div class="form-group">
      <label for="username">{{_('Username')}}</label>
      <input type="text" class="form-control" id="username" size="20" name="username">
    </div>
    <div class="form-group">
      <label for="password">{{_('Password')}}</label>
      <input type="password" class="form-control" id="password" size="20" name="password">
    </div>
    <button type="submit" name="submit" value="Login" class="btn btn-bright"><span class="glyphicon glyphicon-log-in"></span>  {{_('SIGN IN')}}</button>

    </div>
</form>
</div>
<br>

{% endblock %}
