.left {
    float: left;
}

.clear {
    clear: both;
}

hr {
    border-top: 0px;
    padding-bottom: 1px;
}

.breakWords {
    word-wrap: break-word;
}

#plugin_form_content h3,
#general_form_content h3 {
    font-weight: bold;
    font-size: 14px;
}

.noPadding  {
    padding: 0;
}

.width100 {
    width: 100%;
}

@media (min-width: 768px) {
    .col-sm-auto { width: auto; }
}
@media (min-width: 992px) {
    .col-md-auto { width: auto; }
}
@media (min-width: 1200px) {
    .col-lg-auto { width: auto; }
}

.progressani {
	position: relative;
	background:#e7e7e7;
	display: inline-block;
}
.progressani, .progress-bar {
	width: 100%;
	height: 10px;
}

/* Aqua Style */
.progressani.aqua .progress-bar {
	background-color: #0632f7;
	background-image: -moz-linear-gradient(left, #c8d1fd 0%, #0632f7 100%);
	background-image: -webkit-linear-gradient(left, #c8d1fd 0%,#0632f7 100%);
	background-image: -o-linear-gradient(left, #c8d1fd 0%, #0632f7 100%);
	background-image: -ms-linear-gradient(left, #c8d1fd 0%, #0632f7 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#c8d1fd), to(#0632f7)); 
	background-image: linear-gradient(to right, #c8d1fd 0%, #0632f7 100%);
    background-size: 100% 10px;
}

/* Shine style */
.progressani.shine .progress-bar {
	background-color: #00BA0C;
	background-image: -moz-linear-gradient(left, #00BA0C 0%, #00BA0C 75%, #D7FFD1 80%, #00BA0C 85%, #00BA0C 100%);
	background-image: -webkit-linear-gradient(left, #00BA0C 0%,#00BA0C 75%,#D7FFD1 80%,#00BA0C 85%,#00BA0C 100%);
	background-image: -o-linear-gradient(left, #00BA0C 0%,#00BA0C 75%,#D7FFD1 80%,#00BA0C 85%,#00BA0C 100%);
	background-image: -ms-linear-gradient(left, #00BA0C 0%,#00BA0C 75%,#D7FFD1 80%,#00BA0C 85%,#00BA0C 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#00BA0C), to(#00BA0C));
	background-image: linear-gradient(to right, #00BA0C 0%,#00BA0C 75%,#D7FFD1 80%,#00BA0C 85%,#00BA0C 100%);
        background-size: 100% 10px;
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.5), inset 0 2px 2px rgba(255,255,255,0.8);
	-webkit-animation: shine 1s linear infinite;
	-moz-animation: shine 1s linear infinite;
	animation: shine 1s linear infinite;
}

@-webkit-keyframes shine {
to {background-position: 100% 0;}
}
@-moz-keyframes shine {
to {background-position: 100% 0;}
}
@keyframes shine {
to {background-position: 100% 0;}
}
